@model MatchIt.ViewModels.TuteeCreateViewModel

@{
	ViewData["Title"] = "Create";
	// Since Address isn't a string, it requires a cast.
	var courses = ViewData["Courses"] as IEnumerable<Course>;

}

<h1>Create</h1>

<h4>Tutee</h4>
<hr />

<form asp-action="Create" class="row g-3">
	<div asp-validation-summary="ModelOnly" class="text-danger"></div>
  <div class="col-md-6">
		<label asp-for="FirstName" class="form-label"></label>
		<input asp-for="FirstName" class="form-control" />
		<span asp-validation-for="FirstName" class="text-danger"></span>
  </div>
  <div class="col-md-6">
		<label asp-for="LastName" class="form-label"></label>
		<input asp-for="LastName" class="form-control" />
		<span asp-validation-for="LastName" class="text-danger"></span>
  </div>
  <div class="col-md-6">
		<label asp-for="StudentId" class="form-label"></label>
		<input asp-for="StudentId" class="form-control" />
		<span asp-validation-for="StudentId" class="text-danger"></span>
  </div>
  <div class="col-md-6">
		<label asp-for="PhoneNumber" class="form-label"></label>
		<input asp-for="PhoneNumber" class="form-control" />
		<span asp-validation-for="PhoneNumber" class="text-danger"></span>
  </div>
  <div class="col-12">
		<label asp-for="EmailAddress" class="form-label"></label>
		<input asp-for="EmailAddress" class="form-control" />
		<span asp-validation-for="EmailAddress" class="text-danger"></span>
  </div>
  <div class="col-12">
		<label class="form-label">Courses</label>
		<select class="form-control courses-basic-multiple" asp-items="@Model.CoursesSelectList" asp-for="SelectedCourses">
			<option value="">-- Select Course --</option>
		</select>
  </div>
	<div class="row g-3 mt-0">
		<div class="col-md-4">
		<label for="Availabilities[0].Day" class="form-label">Day</label>
			<select class="form-control" name="Availabilities[0].Day">
				<option value="Monday">Monday</option>
				<option value="Tuesday">Tuesday</option>
				<option value="Wednesday">Wednesday</option>
				<option value="Thursday">Thursday</option>
				<option value="Friday">Friday</option>
				<option value="Saturday">Saturday</option>
				<option value="Sunday">Sunday</option>
			</select>
		</div>
	<div class="col-md-3">
		<label for="Availabilities[0].From" class="form-label">From</label>
		<input type="time" class="form-control" name="Availabilities[0].From" />
	</div>
	<div class="col-md-3">
		<label for="Availabilities[0].To" class="form-label">To</label>
		<input type="time" class="form-control" name="Availabilities[0].To" />
	</div>
	</div>
	<div id="new-input" class="row g-3 mt-0">@Html.EditorFor(t => t.Availabilities)</div>
	<div class="col-md-1">
		<button id="add-time" class="btn btn-success col-md-1 availability-btn">Add Time</button>
	</div>
	<div class="col-md-1">
		<button id="remove-time" class="btn btn-danger col-md-1 mx-3 availability-btn">Remove Time</button>
	</div>

  <div class="col-12">
    <button type="submit" class="btn btn-primary">Create</button>
  </div>

</form>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
			<script>
				let count = 1;
				$(document).ready(function() {
					$('.courses-basic-multiple').select2();
				});

				$("#remove-time").click(function (e) {
					e.preventDefault()
					count = 1;
					$('#new-input').empty();
				})

				$("#add-time").click(function (e) {
					e.preventDefault()
				newRowAdd =
					`	
							<div class="col-md-4">
											<label for="Availabilities[${count}].Day" class="form-label">Day</label>
										<select class="form-control" name="Availabilities[${count}].Day">
									<option value="Monday">Monday</option>
									<option value="Tuesday">Tuesday</option>
									<option value="Wednesday">Wednesday</option>
									<option value="Thursday">Thursday</option>
									<option value="Friday">Friday</option>
									<option value="Saturday">Saturday</option>
									<option value="Sunday">Sunday</option>
								</select>
							</div>
							<div class="col-md-3">
											<label for="Availabilities[${count}].From" class="form-label">From</label>
										<input type="time" class="form-control" name="Availabilities[${count}].From" />
							</div>
							<div class="col-md-3">
											<label for="Availabilities[${count}].To" class="form-label">To</label>
										<input type="time" class="form-control" name="Availabilities[${count}].To"/>
							</div>
					`;

								// Delete row is a bit tricky I am removing it for now.

								//						<div class="col-md-2 d-flex align-items-end pb-2" >
								//	<i class="bi bi-trash" id="DeleteRow"></i>
								//</div>

				$('#new-input').append(newRowAdd);
				count++;
			});

			//$("body").on("click", "#DeleteRow", function () {
			//	count--;
			//	$(this).parent().parent().remove();
			//})

			</script>
}
